.footer {
  /* text-align: center; */
  height: 25px;
  left: 0;
  bottom: 0;
  color: white;
  position: fixed;
  width: 100%;
  background: #283c86; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #45a247,
    #283c86
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #45a247,
    #283c86
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer p {
  display: inline-block;
  vertical-align: top;
  font-size: 13.5px;
}
