<div class="container">
  <div class="ribbon">
    <div class="ribbon-content"><p>User Profile</p></div>
  </div>
  <div class="jumbotron-fluid" style="text-align: center">
    <br /><br /><br /><br />
    <div class="card" style="width: 60%; margin: auto">
      <div class="card-header">
        <br />
        <div class="imgClass">
          <img
            class="img-thumbnail rounded-circle imgclass"
            [attr.src]="profileImage"
          />
          <div class="middle">
            <div class="text">
              <button
                type="button"
                name="button"
                [disabled]="authFailedError || noTokenError"
                (click)="selectImage()"
                class="btn btn-outline-primary"
              >
                &nbsp;<i class="bi bi-plus"></i>&nbsp;
              </button>
            </div>
            <input
              type="file"
              id="imgUpload"
              (change)="handleImageInput($event.target.files)"
            />
          </div>
        </div>
        <p class="lead">{{ name }}</p>

        <div
          class="spinner-border text-primary"
          role="status"
          *ngIf="!pictureRetrieving"
        >
          <span class="sr-only">Loading...</span>
        </div>
        <div *ngIf="!pictureRetrieving">
          <p style="color: white; font-size: 12px">Uploading Image...</p>
        </div>
      </div>
      <br /><br />
      <div class="card-body">
        <div class="form-group">
          <div class="row" style="height: 5px">
            <div class="input-group" style="width: 45%; margin: auto">
              <div
                class="input-group-addon"
                style="font-size: 1.3rem; color: white"
              >
                &nbsp; <i class="bi bi-person"></i> &nbsp;
              </div>
              <input
                class="form-control"
                type="text"
                [(ngModel)]="name"
                readonly
              />
            </div>

            <div class="vl"></div>

            <div class="input-group" style="width: 45%; margin: auto">
              <div
                class="input-group-addon"
                style="font-size: 1.3rem; color: white"
              >
                &nbsp; <i class="bi bi-envelope"></i> &nbsp;
              </div>
              <input
                type="email"
                class="form-control"
                [(ngModel)]="email"
                readonly
              />
            </div>
          </div>

          <br /><br />

          <div class="row" style="height: 5px">
            <div class="input-group" style="width: 45%; margin: auto">
              <div
                class="input-group-addon"
                style="font-size: 1.3rem; color: white"
              >
                &nbsp; <i class="bi bi-person-badge"></i> &nbsp;
              </div>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="employeeid"
                readonly
              />
            </div>

            <div class="vl"></div>

            <div class="input-group" style="width: 45%; margin: auto">
              <div
                class="input-group-addon"
                style="font-size: 1.3rem; color: white"
              >
                &nbsp; <i class="bi bi-key"></i> &nbsp;
              </div>
              <input
                class="form-control"
                type="password"
                [(ngModel)]="password"
                (ngModelChange)="buttonEnable(); checkPassword()"
                autocomplete="new-password"
              />
            </div>
          </div>

          <br /><br />

          <div class="row" style="height: 5px">
            <div class="input-group" style="width: 45%; margin: auto">
              <div
                class="input-group-addon"
                style="font-size: 1.3rem; color: white"
              >
                &nbsp; <i class="bi bi-lightbulb"></i> &nbsp;
              </div>
              <ng-container
                *ngIf="useraccess.accessTypeFull; else readCustomStatus"
              >
                <select
                  class="custom-select"
                  [(ngModel)]="userstatus"
                  (ngModelChange)="buttonEnable()"
                >
                  <option
                    disabled
                    value="Change user status"
                    style="font-weight: bold"
                  >
                    Change User Status:
                  </option>
                  <option value="Active">Active</option>
                  <option value="InActive">InActive</option>
                </select>
              </ng-container>

              <ng-template #readCustomStatus>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="userstatus"
                  readonly
                />
              </ng-template>
            </div>

            <div class="vl"></div>

            <div class="input-group" style="width: 45%; margin: auto">
              <div
                class="input-group-addon"
                style="font-size: 1.3rem; color: white"
              >
                &nbsp; <i class="bi bi-folder2-open"></i> &nbsp;
              </div>
              <ng-container
                *ngIf="useraccess.accessTypeFull; else readCustomDirectory"
              >
                <select
                  class="custom-select"
                  [(ngModel)]="activedirectoryaccount"
                  (ngModelChange)="buttonEnable()"
                >
                  <option
                    disabled
                    value="Change active directory account"
                    style="font-weight: bold"
                  >
                    Change Active Directory Account
                  </option>

                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </ng-container>

              <ng-template #readCustomDirectory>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="activedirectoryaccount"
                  readonly
                />
              </ng-template>
            </div>
          </div>

          <br /><br />

          <div class="row" style="height: 5px">
            <div class="input-group" style="width: 45%; margin: auto">
              <div
                class="input-group-addon"
                style="font-size: 1.3rem; color: white"
              >
                &nbsp; <i class="bi bi-person-lines-fill"></i> &nbsp;
              </div>

              <ng-container
                *ngIf="useraccess.accessTypeFull; else readCustomDesignation"
              >
                <select
                  class="custom-select"
                  [(ngModel)]="userdesignation"
                  (ngModelChange)="buttonEnable()"
                >
                  <option
                    disabled
                    value="Change user designation"
                    style="font-weight: bold"
                  >
                    Change User Designation:
                  </option>

                  <option value="ACCA Trainee">ACCA Trainee</option>
                  <option value="Additional Director">
                    Additional Director
                  </option>
                  <option value="Additional Joint Director">
                    Additional Joint Director
                  </option>
                  <option value="Additional Joint Registrar">
                    Additional Joint Registrar
                  </option>
                  <option value="Additional Registrar">
                    Additional Registrar
                  </option>
                  <option value="Additional Registrar/Adjudication Officer">
                    Additional Registrar/Adjudication Officer
                  </option>
                  <option value="Advisor">Advisor</option>
                  <option value="Application Administrator">
                    Application Administrator
                  </option>
                  <option value="Assistant Director">Assistant Director</option>
                  <option value="Assistant Registrar">
                    Assistant Registrar
                  </option>
                  <option value="Assistant Support Executive">
                    Assistant Support Executive
                  </option>
                  <option value="Audit Officer">Audit Officer</option>
                  <option value="Audit Supervisor">Audit Supervisor</option>
                  <option value="Chairman SECP">Chairman SECP</option>
                  <option value="Chief Medical Officer">
                    Chief Medical Officer
                  </option>
                  <option value="Commissioner">Commissioner</option>
                  <option value="Court Clerk">Court Clerk</option>
                  <option value="Database Administrator">
                    Database Administrator
                  </option>
                  <option value="Deputy Director">Deputy Director</option>
                  <option value="Deputy Registrar">Deputy Registrar</option>
                  <option value="Developer">Developer</option>
                  <option value="Director">Director</option>
                  <option value="Director/HOD">Director/HOD</option>
                  <option value="Executive Director">Executive Director</option>
                  <option value="Executive Officer">Executive Officer</option>
                  <option value="Graduate Trainee">Graduate Trainee</option>
                  <option value="ICAP Trainee">ICAP Trainee</option>
                  <option value="Intern">Intern</option>
                  <option value="Joint Director">Joint Director</option>
                  <option value="Joint Registrar">Joint Registrar</option>
                  <option value="Joint Registrar/Adjudication Officer">
                    Joint Registrar/Adjudication Officer
                  </option>
                  <option value="Management Support">Management Support</option>
                  <option value="Management Executive">
                    Management Executive
                  </option>
                  <option value="Medical Officer">Medical Officer</option>
                  <option value="Office Attendant">Office Attendant</option>
                  <option value="Office Support">Office Support</option>
                  <option value="Principal System Engineer">
                    Principal System Engineer
                  </option>
                  <option value="Private Secretary">Private Secretary</option>
                  <option value="Registrar of Companies/HOD">
                    Registrar of Companies/HOD
                  </option>
                  <option value="Secretarial Support">
                    Secretarial Support
                  </option>
                  <option value="Secretary to the Commission">
                    Secretary to the Commission
                  </option>
                  <option value="Senior Executive Officer">
                    Senior Executive Officer
                  </option>
                  <option value="Senior Executive Officer (Special Grade)">
                    Senior Executive Officer (Special Grade)
                  </option>
                  <option value="Senior Executive Secretary">
                    Senior Executive Secretary
                  </option>
                  <option value="Senior Office Attendant">
                    Senior Office Attendant
                  </option>
                  <option value="Senior Office Attendant (Special Grade)">
                    Senior Office Attendant (Special Grade)
                  </option>
                  <option value="Senior Private Secretary">
                    Senior Private Secretary
                  </option>
                  <option value="Senior Support Executive">
                    Senior Support Executive
                  </option>
                  <option value="Staff Officer">Staff Officer</option>
                  <option value="Support Executive">Support Executive</option>
                  <option value="Support Services">Support Services</option>
                  <option value="System Administrator">
                    System Administrator
                  </option>
                  <option value="Technical Support (Security Officer)">
                    Technical Support (Security Officer)
                  </option>
                </select>
              </ng-container>

              <ng-template #readCustomDesignation>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="userdesignation"
                  readonly
                />
              </ng-template>
            </div>

            <div class="vl"></div>

            <div class="input-group" style="width: 45%; margin: auto">
              <div
                class="input-group-addon"
                style="font-size: 1.3rem; color: white"
              >
                &nbsp; <i class="bi bi-building"></i> &nbsp;
              </div>

              <ng-container
                *ngIf="useraccess.accessTypeFull; else readCustomLocation"
              >
                <select
                  class="custom-select"
                  [(ngModel)]="location"
                  (ngModelChange)="buttonEnable()"
                >
                  <option
                    selected
                    disabled
                    value="Change Location"
                    style="font-weight: bold"
                  >
                    Change Location:
                  </option>
                  <option value="CRO Faisalabad">CRO Faisalabad</option>
                  <option value="CRO Gilgit Baltistan">
                    CRO Gilgit Baltistan
                  </option>
                  <option value="CRO Islamabad">CRO Islamabad</option>
                  <option value="CRO Karachi">CRO Karachi</option>
                  <option value="CRO Lahore">CRO Lahore</option>
                  <option value="CRO Multan">CRO Multan</option>
                  <option value="CRO Peshawar">CRO Peshawar</option>
                  <option value="CRO Quetta">CRO Quetta</option>
                  <option value="CRO Sukkur">CRO Sukkur</option>
                  <option value="Facilitation Desk Sialkot">
                    Facilitation Desk Sialkot
                  </option>
                  <option value="Head Office">Head Office</option>
                </select>
              </ng-container>

              <ng-template #readCustomLocation>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="location"
                  readonly
                />
              </ng-template>
            </div>
          </div>

          <br /><br />

          <div class="row" style="height: 5px">
            <div class="input-group" style="width: 45%; margin: auto">
              <div
                class="input-group-addon"
                style="font-size: 1.3rem; color: white"
              >
                &nbsp; <i class="bi bi-person-badge"></i> &nbsp;
              </div>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="samaccount"
                readonly
              />
            </div>

            <div class="vl"></div>

            <div class="input-group" style="width: 45%; margin: auto">
              <div
                class="input-group-addon"
                style="font-size: 1.3rem; color: white"
              >
                &nbsp; <i class="bi bi-building"></i> &nbsp;
              </div>

              <ng-container
                *ngIf="useraccess.accessTypeFull; else readCustomDepartment"
              >
                <select
                  class="custom-select"
                  [(ngModel)]="department"
                  (ngModelChange)="buttonEnable()"
                >
                  <option
                    selected
                    disabled
                    value="Change Department"
                    style="font-weight: bold"
                  >
                    Change Department:
                  </option>
                  <option value="Adjudication Advisory & Litigation Department">
                    Adjudication Advisory & Litigation Department
                  </option>
                  <option value="Adjudication Department - I">
                    Adjudication Department - I
                  </option>
                  <option value="Adjudication Department - II">
                    Adjudication Department - II
                  </option>
                  <option value="Adjudication Department-I">
                    Adjudication Department-I
                  </option>
                  <option value="Adjudication Department-II">
                    Adjudication Department-II
                  </option>
                  <option value="Administration Department">
                    Administration Department
                  </option>
                  <option value="Advisory Department">
                    Advisory Department
                  </option>
                  <option value="Anti Money Laundering Department">
                    Anti Money Laundering Department
                  </option>
                  <option value="Anti-Money Laundering Department">
                    Anti-Money Laundering Department
                  </option>
                  <option value="Appellate Bench">Appellate Bench</option>
                  <option value="Brokers Compliance Department">
                    Brokers Compliance Department
                  </option>
                  <option value="Brokers' Compliance Department">
                    Brokers' Compliance Department
                  </option>
                  <option value="CRO, Faisalabad">CRO, Faisalabad</option>
                  <option value="CRO, Gilgit">CRO, Gilgit</option>
                  <option value="CRO, Islamabad">CRO, Islamabad</option>
                  <option value="CRO, Karachi">CRO, Karachi</option>
                  <option value="CRO, Lahore">CRO, Lahore</option>
                  <option value="CRO, Multan">CRO, Multan</option>
                  <option value="CRO, Peshawar">CRO, Peshawar</option>
                  <option value="CRO, Quetta">CRO, Quetta</option>
                  <option value="CRO, Sukkur">CRO, Sukkur</option>
                  <option value="Chairman Office">Chairman Office</option>
                  <option value="Chairman and Commission Secretariat">
                    Chairman and Commission Secretariat
                  </option>
                  <option value="Chairman's Secretariat">
                    Chairman's Secretariat
                  </option>
                  <option value="Commission Secretariat">
                    Commission Secretariat
                  </option>
                  <option value="Company Law Division">
                    Company Law Division
                  </option>
                  <option value="Corporate Supervision Department">
                    Corporate Supervision Department
                  </option>
                  <option value="Corporatization and Compliance Department">
                    Corporatization and Compliance Department
                  </option>
                  <option
                    value="Corporatization and Compliance Department-CROs"
                  >
                    Corporatization and Compliance Department-CROs
                  </option>
                  <option
                    value="Corporatization and Compliance Department-Regulation"
                  >
                    Corporatization and Compliance Department-Regulation
                  </option>
                  <option value="Finance Department">Finance Department</option>
                  <option value="Human Resource Department">
                    Human Resource Department
                  </option>
                  <option value="Human Resources and Training Department">
                    Human Resources and Training Department
                  </option>
                  <option value="Information Security Department">
                    Information Security Department
                  </option>
                  <option value="Information System & Technology">
                    Information System & Technology
                  </option>
                  <option value="Information System & Technology Department">
                    Information System & Technology Department
                  </option>
                  <option value="Information Systems and Technology Department">
                    Information Systems and Technology Department
                  </option>
                  <option value="Internal Audit and Compliance Department">
                    Internal Audit and Compliance Department
                  </option>
                  <option value="International Relations Department">
                    International Relations Department
                  </option>
                  <option value="Investor Education Department">
                    Investor Education Department
                  </option>
                  <option value="Islamic Finance Department">
                    Islamic Finance Department
                  </option>
                  <option value="Legislative Review & Research Department">
                    Legislative Review & Research Department
                  </option>
                  <option
                    value="Market Development, Policy & Regulation Department (Insurance)"
                  >
                    Market Development, Policy & Regulation Department
                    (Insurance)
                  </option>
                  <option value="Market Supervision Department">
                    Market Supervision Department
                  </option>
                  <option value="Market Supervision Department KHI">
                    Market Supervision Department KHI
                  </option>
                  <option value="Media and Translation Department">
                    Media and Translation Department
                  </option>
                  <option value="PRDD-Modaraba">PRDD-Modaraba</option>
                  <option
                    value="Policy Regulation and Development Department (SCD)"
                  >
                    Policy Regulation and Development Department (SCD)
                  </option>
                  <option
                    value="Policy Regulation and Development Department (SCD.)"
                  >
                    Policy Regulation and Development Department (SCD.)
                  </option>
                  <option
                    value="Policy, Regulation and Development Department (SMD)"
                  >
                    Policy, Regulation and Development Department (SMD)
                  </option>
                  <option
                    value="Policy, Regulation and Development Department SCD"
                  >
                    Policy, Regulation and Development Department SCD
                  </option>
                  <option
                    value="Policy, Regulation and Development Department SMD"
                  >
                    Policy, Regulation and Development Department SMD
                  </option>
                  <option
                    value="Primary Market Approvals and Development Department (SMD)"
                  >
                    Primary Market Approvals and Development Department (SMD)
                  </option>
                  <option value="SMD">SMD</option>
                  <option value="Specialized Companies Division">
                    Specialized Companies Division
                  </option>
                  <option value="Supervision & Enforcement Department">
                    Supervision & Enforcement Department
                  </option>
                  <option value="Supervision Department (Insurance)">
                    Supervision Department (Insurance)
                  </option>
                </select>
              </ng-container>

              <ng-template #readCustomDepartment>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="department"
                  readonly
                />
              </ng-template>
            </div>
          </div>

          <br /><br /><br />
          <button
            class="btn btn-outline-success"
            (click)="updateUserProfile()"
            [disabled]="!enableButton || authFailedError"
            type="button"
            name="button"
          >
            Update
          </button>
        </div>
      </div>

      <div class="card-footer">
        <br />
      </div>
    </div>
    <br />
  </div>

  <ng-container
    *ngIf="useraccess.accessTypePartial || useraccess.accessTypeMinimum"
  >
    <div style="display: flex; justify-content: flex-end; margin-right: 16rem">
      <button
        type="button"
        class="btn btn-outline-primary"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        Initiate Request
      </button>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Initiate a Request to an Administrator
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <b
              >In order to change any of the information in your profile, you
              have to initiate a request to the administrator.</b
            >
            <br /><br />
            <div class="form-group">
              <label for="exampleFormControlTextarea1"
                >Enter the details you want to change:</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                [(ngModel)]="userMessage"
              ></textarea>
            </div>
            <br />
            <p *ngIf="showLogReqError" style="color: red">
              Please enter a valid message of less than 200 characters.
            </p>
            <p *ngIf="showSuccess" style="color: green">
              Request Initated Successfully!
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="initiateRequest()"
              [disabled]="showSuccess"
            >
              Initiate Request
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div
    *ngIf="shortpassword"
    style="width: 30%; margin: auto; text-align: center"
  >
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Weak Password!</strong>
    </div>
  </div>

  <div
    *ngIf="mediumpassword"
    style="width: 30%; margin: auto; text-align: center"
  >
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Medium Password!</strong>
    </div>
  </div>

  <div
    *ngIf="longpassword"
    style="width: 30%; margin: auto; text-align: center"
  >
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Strong Password!</strong>
    </div>
  </div>

  <div
    *ngIf="passwordStrength"
    style="width: 70%; margin: auto; text-align: center"
  >
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong
        >Weak Password Strength! Please enhance your password security by adding
        more numbers and alphabets</strong
      >
    </div>
  </div>

  <div *ngIf="updateAlert" style="width: 50%; margin: auto; text-align: center">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success! Data updated successfully</strong>
    </div>
  </div>

  <div
    *ngIf="noTokenError"
    class="alert alert-warning alert-dismissible"
    id="myauthFailureAlert"
    role="alert"
    style="margin: auto; width: 30%"
  >
    <span>
      <b> Failure - </b> You are trying to access this website without any
      token. This is an unusual error. Please contact the administrator.
    </span>
  </div>

  <div
    *ngIf="authFailedError"
    class="alert alert-warning alert-dismissible"
    id="myTokenFailureAlert"
    role="alert"
    style="margin: auto; width: 30%"
  >
    <span>
      <b> Failure - </b> The token has expired. In order to renew the token,
      please log in again.
    </span>
  </div>

  <div
    *ngIf="serverError"
    class="alert alert-danger alert-dismissible"
    id="myServerAlert"
    role="alert"
    style="margin: auto; width: 30%"
  >
    <button
      type="button"
      aria-hidden="true"
      (click)="hideMyServerAlert()"
      class="close"
      aria-label="Close"
    >
      <i class="bi bi-x"></i>
    </button>
    <span>
      <b> Failure - </b> An unknown server error has occurred. Please try again
      later.
    </span>
  </div>

  <br />
</div>
