<div class="container">
  <div class="jumbotron-fluid">
    <div
      class="col-xs-14 col-sm-12 col-md-10 col-lg-8 col-xl-6"
      style="margin: auto"
      [@Enter]="'flyIn'"
    >
      <div class="card" style="text-align: center; width: 80%">
        <div class="card-header">
          <h5>
            <i class="bi bi-lock" style="font-size: 2.5rem"></i> &nbsp; Forgot
            Password
          </h5>
          <br />
        </div>
        <br />
        <div class="card-body">
          <form>
            <div class="form-group">
              <div
                class="input-group"
                style="width: 80%; margin: auto; height: 5px"
                *ngIf="!emailIsValid"
              >
                <div
                  class="input-group-addon"
                  style="font-size: 1.3rem; color: white"
                >
                  &nbsp; <i class="bi bi-envelope"></i> &nbsp;
                </div>
                <input
                  class="form-control"
                  type="email"
                  name="usermail"
                  [(ngModel)]="userEmail"
                  placeholder="Email"
                  required
                />
              </div>
              <div
                class="input-group"
                style="width: 80%; margin: auto; height: 5px"
                *ngIf="dataReceived && emailIsValid && !isVerificationCodeValid"
              >
                <div
                  class="input-group-addon"
                  style="font-size: 1.3rem; color: white"
                >
                  &nbsp; <i class="bi bi-key"></i> &nbsp;
                </div>
                <input
                  class="form-control"
                  type="number"
                  name="verificationcode"
                  [(ngModel)]="verificationCode"
                  placeholder="Verification Code"
                  required
                />
              </div>

              <div *ngIf="isVerificationCodeValid && verificationCodeReceived">
                <div
                  class="input-group"
                  style="width: 80%; margin: auto; height: 5px"
                >
                  <div
                    class="input-group-addon"
                    style="font-size: 1.3rem; color: white"
                  >
                    &nbsp; <i class="bi bi-key"></i> &nbsp;
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    name="newpassword"
                    [(ngModel)]="newPassword"
                    placeholder="New Password"
                    required
                  />
                </div>
                <br /><br />
                <div
                  class="input-group"
                  style="width: 80%; margin: auto; height: 5px"
                >
                  <div
                    class="input-group-addon"
                    style="font-size: 1.3rem; color: white"
                  >
                    &nbsp; <i class="bi bi-key"></i> &nbsp;
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    name="verifynewpassword"
                    [(ngModel)]="verifyNewPassword"
                    placeholder="Re-Type New Password"
                    required
                  />
                </div>
              </div>

              <div style="margin-top: 2rem; margin-left: 0rem">
                <small *ngIf="dataReceived && !emailIsValid" style="color: red"
                  >Email does not exist. Please enter a valid email.</small
                >
                <small
                  *ngIf="
                    dataReceived && emailIsValid && !verificationCodeReceived
                  "
                  style="color: green"
                  >A verification code has been sent to your email, please check
                  your inbox</small
                >
                <small
                  *ngIf="verificationCodeReceived && !isVerificationCodeValid"
                  style="color: red"
                  >Verification code is invalid</small
                >
                <small style="color: red">{{ passwordError }}</small>
              </div>
              <br />
              <button
                class="btn btn-outline-success"
                type="submit"
                name="loginButton"
                (click)="
                  onForgotPasswordSubmit();
                  submitVerificationCode();
                  submitNewPassword()
                "
              >
                <i class="bi bi-box-arrow-in-right"></i>&nbsp; Submit
              </button>
            </div>
          </form>
        </div>
        <div class="card-footer"></div>
      </div>
      <br />
      <div style="text-align: right; margin-right: 8rem; cursor: pointer">
        <p [routerLink]="loginUrl" id="back-to-login">Back to Login</p>
      </div>
    </div>
  </div>
</div>
