<div class="container">
  <div class="jumbotron-fluid">
    <div
      class="col-xs-14 col-sm-12 col-md-10 col-lg-8 col-xl-6"
      style="margin: auto"
    >
      <div
        class="card"
        style="text-align: center; width: 80%"
        [@Enter]="'flyIn'"
      >
        <div class="card-header">
          <h5>
            <i class="bi bi-lock" style="font-size: 2.5rem"></i> &nbsp; Forgot
            Password
          </h5>
          <br />
        </div>
        <br />
        <div class="card-body">
          <form>
            <div class="form-group">
              <div
                class="input-group"
                style="width: 80%; margin: auto; height: 5px"
                *ngIf="!emailIsValid"
              >
                <div
                  class="input-group-addon"
                  style="font-size: 1.3rem; color: white"
                >
                  &nbsp; <i class="bi bi-envelope"></i> &nbsp;
                </div>
                <input
                  class="form-control"
                  type="email"
                  name="usermail"
                  [(ngModel)]="userEmail"
                  placeholder="Email"
                  required
                />
              </div>
              <div
                class="input-group"
                style="width: 80%; margin: auto; height: 5px"
                *ngIf="dataReceived && emailIsValid"
              >
                <div
                  class="input-group-addon"
                  style="font-size: 1.3rem; color: white"
                >
                  &nbsp; <i class="bi bi-envelope"></i> &nbsp;
                </div>
                <input
                  class="form-control"
                  type="number"
                  name="verificationcode"
                  [(ngModel)]="verificationCode"
                  placeholder="Verification Code"
                  required
                />
              </div>

              <div style="margin-top: 2rem; margin-left: 0rem">
                <small *ngIf="dataReceived && !emailIsValid" style="color: red"
                  >Email does not exist. Please enter a valid email.</small
                >
                <small *ngIf="dataReceived && emailIsValid" style="color: green"
                  >A verification code has been sent to your email, please check
                  your inbox</small
                >
              </div>
              <br />
              <button
                class="btn btn-outline-success"
                type="submit"
                name="loginButton"
                (click)="onForgotPasswordSubmit()"
              >
                <i class="bi bi-box-arrow-in-right"></i>&nbsp; Submit
              </button>
            </div>
          </form>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
</div>
