<body>
  <div class="container" *ngIf="!check">
    <div class="jumbotron-fluid">
      <div
        class="col-xs-14 col-sm-12 col-md-10 col-lg-8 col-xl-6"
        style="margin: auto"
      >
        <div
          class="card"
          style="text-align: center; width: 80%"
          [@Enter]="'flyIn'"
        >
          <div class="card-header">
            <h5>Securities & Exchange Commission of Pakistan</h5>
            <br />
            <img
              src="assets\secplogo.png"
              class="img-fluid"
              style="height: 150px"
            />
            <br /><br />
            <h5>
              <i class="bi bi-lock" style="font-size: 2.5rem"></i> &nbsp; Login
            </h5>
          </div>
          <br />
          <div class="card-body">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div class="form-group">
                <div
                  class="input-group"
                  style="width: 80%; margin: auto; height: 5px"
                >
                  <div
                    class="input-group-addon"
                    style="font-size: 1.3rem; color: white"
                  >
                    &nbsp; <i class="bi bi-envelope"></i> &nbsp;
                  </div>
                  <input
                    class="form-control"
                    type="email"
                    name="usermail"
                    ngModel
                    placeholder="Email"
                    required
                  />
                </div>
                <br /><br />
                <div
                  class="input-group"
                  style="width: 80%; margin: auto; height: 5px"
                >
                  <div
                    class="input-group-addon"
                    style="font-size: 1.3rem; color: white"
                  >
                    &nbsp; <i class="bi bi-key"></i> &nbsp;
                  </div>
                  <input
                    class="form-control"
                    type="password"
                    name="passcode"
                    ngModel
                    placeholder="Password"
                    required
                  />
                </div>
                <div
                  style="
                    text-align: end;
                    margin-top: 2rem;
                    margin-right: 3rem;
                    cursor: pointer;
                  "
                >
                  <small id="forgot-password" [routerLink]="forgotPasswordUrl"
                    >Forgot Password</small
                  >
                </div>
                <br />
                <button
                  class="btn btn-outline-success"
                  type="submit"
                  name="loginButton"
                >
                  <i class="bi bi-box-arrow-in-right"></i>&nbsp; Login
                </button>
              </div>
            </form>
          </div>

          <div class="d-flex justify-content-center" *ngIf="isLoading">
            <div class="spinner-border text-success" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div *ngIf="isLoading">
            <br />
          </div>

          <div class="card-footer">
            <p>Powered by IS&TD</p>
            <small>Version: 1.0.0</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <div
    class="alert alert-danger alert-dismissible fade show"
    *ngIf="unAuthorized"
    id="unAutherizedAlert"
    role="alert"
    style="width: 27%; text-align: center; margin: auto"
  >
    <strong>Login Failed!</strong> Incorrect Email or Password.
    <button
      type="button"
      class="btn btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="hideunAutherizedAlert()"
    >
      <i class="bi bi-x"></i>
    </button>
  </div>

  <div
    class="alert alert-danger alert-dismissible fade show"
    *ngIf="serverError"
    id="serverAlert"
    role="alert"
    style="width: 31%; text-align: center; margin: auto"
  >
    <strong>Error!</strong> An unknown server error has occurred. Please try
    again.
    <button
      type="button"
      class="btn btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="hideServerAlert()"
    >
      <i class="bi bi-x"></i>
    </button>
  </div>
</body>
