<div class="container">
  <div class="ribbon">
    <div class="ribbon-content"><p>Home</p></div>
  </div>
  <div class="jumbotron-fluid" style = "margin: auto; text-align: center; font-size: 14px;">
    <br><br><br><br><br>
    <h4>Welcome to the eServices Assistant</h4>
    <br><br>
    <p>This application has been developed by Informations Systems and Technology Department (IS&TD).
    <br><br>
    <p>It includes the following features: </p>
    <ul class = "list-group">
      <li class="list-group-item"><b>User Management: </b>This allows the superuser/administrator to create a new user in order to grant him an access to this application.</li>
      <li class="list-group-item"><b>Role Management: </b>This allows the superuser/administrator to add/modify roles of the users. This grants the admin right to restrict/allow roles depending upon a user.</li>
      <li class="list-group-item"><b>Reports Management: </b>This application contains multiple reports that can be alloted to each user by an administrator.</li>
      <li class="list-group-item"><b>Profile Management (Client): </b>This allows each user to maintain his/her profile along with having an option to upload his/her profile picture. However, in order to change some fields, the user has to initiate a request to an administrator.</li>
      <li class="list-group-item"><b>Profile Management (Admin): </b>An administrator is capable of changing a particular user's profile data on his request.</li>
      <li class="list-group-item"><b>Session Management: </b>This allows the application to maintain a session between a server and a user for a certain amount of time. Meaning, a user wouldn't be able to access this app after the session has expired.</li>
    </ul>

    <br><br><br>
    <p>To get an idea about how the app works, you can go to the help section.</p>
  </div>

</div>