<div class="container">
  <div class="ribbon">
    <div class="ribbon-content"><p>Home</p></div>
  </div>
  <div class="jumbotron-fluid" style = "margin: auto; text-align: center; font-size: 14px;">
    <br><br><br><br><br>
    <h4>Welcome to the eServices Assistant</h4>
    <br><br>
    <p>This application has been developed by Informations Systems and Technology Department (IS&TD).
    <p>The app has been developed using the latest Single Page Application (SPA) and Representational State Transfer (REST) technology. Angular along with Bootstrap have been used for the front-end whereas, Node.js/Express.js along with DB2 and Oracle have been used for the back-end development.</p>
    <br><br>
    <p>It includes the following features: </p>
    <ul class = "list-group">
      <li class="list-group-item"><b>User Management System: </b>This allows the superuser/administrator to create a new user, granting him the access to this application.</li>
      <li class="list-group-item"><b>Role Management System: </b>This allows the superuser/administrator to add/modify roles of the users. This grants the admin right to restrict/allow roles depending upon a user.</li>
      <li class="list-group-item"><b>Session Management System: </b>Token Management System, to be more precise, maintains a session between a server and a user for a certain amount of time. Meaning, a user wouldn't be able to access this app after the token has expired.</li>
      <li class="list-group-item"><b>Profile Management System: </b>This allows each user to maintain his/her profile along with having an option to upload his/her profile picture.</li>
    </ul>

    <br><br><br>
    <p>To get an idea about how the app works, you can go to the help section.</p>
  </div>

</div>