<div class="container-fluid" style="width: 80%">
  <div class="ribbon">
    <div class="ribbon-content"><p>EServices Role Management</p></div>
  </div>
  <br /><br />
  <div class="jumbotron-fluid">
    <br />
  </div>
  <br />
  <div
    class="col-xs-14 col-sm-12 col-md-10 col-lg-8 col-xl-6"
    style="margin: auto"
  >
    <div style="text-align: right">
      <div class="input-group" style="width: 60%; margin: auto">
        <div class="input-group-addon" style="font-size: 1.3rem; color: white">
          &nbsp; <i class="bi bi-search"></i> &nbsp;
        </div>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchDataKey"
          placeholder="Search..."
        />
        &nbsp;
        <button
          class="btn btn-outline-success"
          type="button"
          name="button"
          (click)="searchData()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <br /><br />

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr style="font-size: 15px">
          <th scope="col">Row ID</th>
          <th scope="col">User ID</th>
          <th scope="col">User Name</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">User Status</th>
          <th scope="col">User Cell</th>
          <th scope="col">User Email</th>
          <th scope="col">Is Migrated User</th>
          <th scope="col">Created By</th>
          <th scope="col">Created When</th>
          <th scope="col">Modified By</th>
          <th scope="col">Modified When</th>
          <th scope="col">Gender</th>
          <th scope="col">CRO</th>
          <th scope="col">Business Category</th>
          <th scope="col">Employee Type</th>
          <th scope="col">AD User</th>
          <th scope="col">Designation</th>
          <th scope="col">Employee ID</th>
          <th scope="col">Division</th>
          <th scope="col">Department</th>
          <th scope="col">Location</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <br />
      <tbody *ngIf="eservicesData$ | async as eServicesData">
        <tr style="font-size: 13px" *ngFor="let eData of eServicesData">
          <td>
            {{ eData.ROW_ID }}
          </td>
          <td>
            {{ eData.USER_ID }}
          </td>
          <td>
            {{ eData.USER_NAME }}
          </td>
          <td>
            {{ eData.F_NAME }}
          </td>
          <td>
            {{ eData.L_NAME }}
          </td>
          <td>
            {{ eData.USER_STATUS }}
          </td>
          <td>
            {{ eData.USER_CELL }}
          </td>
          <td>
            {{ eData.USER_EMAIL }}
          </td>
          <td>
            {{ eData.IS_MIGRATED_USER }}
          </td>
          <td>
            {{ eData.CREATED_BY }}
          </td>
          <td>
            {{ eData.CREATED_WHEN | date: "medium" }}
          </td>
          <td>
            {{ eData.MODIFIED_BY }}
          </td>
          <td>
            {{ eData.MODIFIED_WHEN | date: "medium" }}
          </td>
          <td>
            {{ eData.GENDER }}
          </td>
          <td>
            {{ eData.CRO }}
          </td>
          <td>
            {{ eData.BUSINESS_CATEGORY }}
          </td>
          <td>
            {{ eData.EMPLOYEE_TYPE }}
          </td>
          <td>
            {{ eData.AD_USER }}
          </td>
          <td>
            {{ eData.DESIGNATION }}
          </td>
          <td>
            {{ eData.EMPLOYEE_ID }}
          </td>
          <td>
            {{ eData.DIVISION }}
          </td>
          <td>
            {{ eData.DEPARTMENT }}
          </td>
          <td>
            {{ eData.LOCATION }}
          </td>
          <td>
            <button
              class="btn btn-success"
              type="button"
              name="button"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              <i class="bi bi-pencil" style="font-size: 0.9rem"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br /><br />
  <div style="float: right">
    <button
      class="btn btn-outline-success"
      type="button"
      data-toggle="modal"
      data-target="#exampleModal"
      name="button"
    >
      Add new user &nbsp;<i class="bi bi-plus-circle"></i>
    </button>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter User Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="eServicesForm" (ngSubmit)="submitData()">
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="First name"
                formControlName="firstName"
                id="firstName"
                required
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Last name"
                formControlName="lastName"
                required
              />
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="User ID"
                formControlName="userId"
                required
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <select
                class="custom-select"
                formControlName="userStatus"
                required
              >
                <option
                  selected
                  disabled
                  value="null"
                  style="font-weight: bold"
                >
                  User Status
                </option>
                <option value="Active">Active</option>
                <option value="InActive">InActive</option>
              </select>
            </div>
            <div class="col">
              <input
                type="number"
                class="form-control"
                placeholder="User Cell"
                formControlName="userCell"
                required
              />
            </div>
            <div class="col">
              <input
                type="email"
                class="form-control"
                placeholder="User Email"
                formControlName="userEmail"
                required
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <select
                class="custom-select"
                formControlName="isUserMigrated"
                required
              >
                <option
                  selected
                  disabled
                  value="null"
                  style="font-weight: bold"
                >
                  Is User Migrated
                </option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Created By"
                formControlName="createdBy"
                required
              />
            </div>
            <div class="col">
              <input
                type="date"
                class="form-control"
                placeholder="Created When"
                formControlName="createdWhen"
                required
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Modified By"
                formControlName="modifiedBy"
                required
              />
            </div>
            <div class="col">
              <input
                type="date"
                class="form-control"
                placeholder="Modified When"
                formControlName="modifiedWhen"
                required
              />
            </div>
            <div class="col">
              <select class="custom-select" formControlName="userGender">
                <option
                  selected
                  disabled
                  value="null"
                  style="font-weight: bold"
                  required
                >
                  Gender
                </option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <select class="custom-select" formControlName="userCro" required>
                <option
                  selected
                  disabled
                  value="null"
                  style="font-weight: bold"
                >
                  Select CRO
                </option>
                <option value="CRO Faisalabad">CRO Faisalabad</option>
                <option value="CRO Gilgit Baltistan">
                  CRO Gilgit Baltistan
                </option>
                <option value="CRO Islamabad">CRO Islamabad</option>
                <option value="CRO Karachi">CRO Karachi</option>
                <option value="CRO Lahore">CRO Lahore</option>
                <option value="CRO Multan">CRO Multan</option>
                <option value="CRO Peshawar">CRO Peshawar</option>
                <option value="CRO Quetta">CRO Quetta</option>
                <option value="CRO Sukkur">CRO Sukkur</option>
                <option value="Facilitation Desk Sialkot">
                  Facilitation Desk Sialkot
                </option>
                <option value="Head Office">Head Office</option>
              </select>
            </div>
            <div class="col">
              <select
                class="custom-select"
                formControlName="businessCategory"
                required
              >
                <option
                  selected
                  disabled
                  value="null"
                  style="font-weight: bold"
                >
                  Select Business Category
                </option>
                <option value="Internal User">Internal User</option>
                <option value="Diary User">Diary User</option>
              </select>
            </div>
            <div class="col">
              <select
                class="custom-select"
                formControlName="employeeType"
                required
              >
                <option
                  selected
                  disabled
                  value="null"
                  style="font-weight: bold"
                >
                  Select Employee Type
                </option>
                <option value="ValidationApproval">Validation Approval</option>
              </select>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="AD User"
                autocomplete="off"
                formControlName="adUser"
                required
              />
            </div>
            <div class="col">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                autocomplete="new-password"
                formControlName="userPassword"
                required
              />
            </div>
            <div class="col">
              <input
                type="number"
                class="form-control"
                placeholder="Employee ID"
                formControlName="employeeId"
                required
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <select
                class="custom-select"
                formControlName="userDesignation"
                required
              >
                <option
                  selected
                  disabled
                  value="null"
                  style="font-weight: bold"
                >
                  Select User Designation:
                </option>
                <option value="ACCA Trainee">ACCA Trainee</option>
                <option value="Additional Director">Additional Director</option>
                <option value="Additional Joint Director">
                  Additional Joint Director
                </option>
                <option value="Additional Joint Registrar">
                  Additional Joint Registrar
                </option>
                <option value="Additional Registrar">
                  Additional Registrar
                </option>
                <option value="Additional Registrar/Adjudication Officer">
                  Additional Registrar/Adjudication Officer
                </option>
                <option value="Advisor">Advisor</option>
                <option value="Application Administrator">
                  Application Administrator
                </option>
                <option value="Assistant Director">Assistant Director</option>
                <option value="Assistant Registrar">Assistant Registrar</option>
                <option value="Assistant Support Executive">
                  Assistant Support Executive
                </option>
                <option value="Audit Officer">Audit Officer</option>
                <option value="Audit Supervisor">Audit Supervisor</option>
                <option value="Chairman SECP">Chairman SECP</option>
                <option value="Chief Medical Officer">
                  Chief Medical Officer
                </option>
                <option value="Commissioner">Commissioner</option>
                <option value="Court Clerk">Court Clerk</option>
                <option value="Database Administrator">
                  Database Administrator
                </option>
                <option value="Deputy Director">Deputy Director</option>
                <option value="Deputy Registrar">Deputy Registrar</option>
                <option value="Developer">Developer</option>
                <option value="Director">Director</option>
                <option value="Director/HOD">Director/HOD</option>
                <option value="Executive Director">Executive Director</option>
                <option value="Executive Officer">Executive Officer</option>
                <option value="Graduate Trainee">Graduate Trainee</option>
                <option value="ICAP Trainee">ICAP Trainee</option>
                <option value="Intern">Intern</option>
                <option value="Joint Director">Joint Director</option>
                <option value="Joint Registrar">Joint Registrar</option>
                <option value="Joint Registrar/Adjudication Officer">
                  Joint Registrar/Adjudication Officer
                </option>
                <option value="Management Support">Management Support</option>
                <option value="Management Executive">
                  Management Executive
                </option>
                <option value="Medical Officer">Medical Officer</option>
                <option value="Office Attendant">Office Attendant</option>
                <option value="Office Support">Office Support</option>
                <option value="Principal System Engineer">
                  Principal System Engineer
                </option>
                <option value="Private Secretary">Private Secretary</option>
                <option value="Registrar of Companies/HOD">
                  Registrar of Companies/HOD
                </option>
                <option value="Secretarial Support">Secretarial Support</option>
                <option value="Secretary to the Commission">
                  Secretary to the Commission
                </option>
                <option value="Senior Executive Officer">
                  Senior Executive Officer
                </option>
                <option value="Senior Executive Officer (Special Grade)">
                  Senior Executive Officer (Special Grade)
                </option>
                <option value="Senior Executive Secretary">
                  Senior Executive Secretary
                </option>
                <option value="Senior Office Attendant">
                  Senior Office Attendant
                </option>
                <option value="Senior Office Attendant (Special Grade)">
                  Senior Office Attendant (Special Grade)
                </option>
                <option value="Senior Private Secretary">
                  Senior Private Secretary
                </option>
                <option value="Senior Support Executive">
                  Senior Support Executive
                </option>
                <option value="Staff Officer">Staff Officer</option>
                <option value="Support Executive">Support Executive</option>
                <option value="Support Services">Support Services</option>
                <option value="System Administrator">
                  System Administrator
                </option>
                <option value="Technical Support (Security Officer)">
                  Technical Support (Security Officer)
                </option>
              </select>
            </div>
            <div class="col">
              <select
                class="custom-select"
                formControlName="userDepartment"
                required
              >
                <option
                  selected
                  disabled
                  value="null"
                  style="font-weight: bold"
                >
                  Select User Department
                </option>
                <option value="Adjudication Advisory & Litigation Department">
                  Adjudication Advisory & Litigation Department
                </option>
                <option value="Adjudication Department - I">
                  Adjudication Department - I
                </option>
                <option value="Adjudication Department - II">
                  Adjudication Department - II
                </option>
                <option value="Adjudication Department-I">
                  Adjudication Department-I
                </option>
                <option value="Adjudication Department-II">
                  Adjudication Department-II
                </option>
                <option value="Administration Department">
                  Administration Department
                </option>
                <option value="Advisory Department">Advisory Department</option>
                <option value="Anti Money Laundering Department">
                  Anti Money Laundering Department
                </option>
                <option value="Anti-Money Laundering Department">
                  Anti-Money Laundering Department
                </option>
                <option value="Appellate Bench">Appellate Bench</option>
                <option value="Brokers Compliance Department">
                  Brokers Compliance Department
                </option>
                <option value="Brokers' Compliance Department">
                  Brokers' Compliance Department
                </option>
                <option value="CRO, Faisalabad">CRO, Faisalabad</option>
                <option value="CRO, Gilgit">CRO, Gilgit</option>
                <option value="CRO, Islamabad">CRO, Islamabad</option>
                <option value="CRO, Karachi">CRO, Karachi</option>
                <option value="CRO, Lahore">CRO, Lahore</option>
                <option value="CRO, Multan">CRO, Multan</option>
                <option value="CRO, Peshawar">CRO, Peshawar</option>
                <option value="CRO, Quetta">CRO, Quetta</option>
                <option value="CRO, Sukkur">CRO, Sukkur</option>
                <option value="Chairman Office">Chairman Office</option>
                <option value="Chairman and Commission Secretariat">
                  Chairman and Commission Secretariat
                </option>
                <option value="Chairman's Secretariat">
                  Chairman's Secretariat
                </option>
                <option value="Commission Secretariat">
                  Commission Secretariat
                </option>
                <option value="Company Law Division">
                  Company Law Division
                </option>
                <option value="Corporate Supervision Department">
                  Corporate Supervision Department
                </option>
                <option value="Corporatization and Compliance Department">
                  Corporatization and Compliance Department
                </option>
                <option value="Corporatization and Compliance Department-CROs">
                  Corporatization and Compliance Department-CROs
                </option>
                <option
                  value="Corporatization and Compliance Department-Regulation"
                >
                  Corporatization and Compliance Department-Regulation
                </option>
                <option value="Finance Department">Finance Department</option>
                <option value="Human Resource Department">
                  Human Resource Department
                </option>
                <option value="Human Resources and Training Department">
                  Human Resources and Training Department
                </option>
                <option value="Information Security Department">
                  Information Security Department
                </option>
                <option value="Information System & Technology">
                  Information System & Technology
                </option>
                <option value="Information System & Technology Department">
                  Information System & Technology Department
                </option>
                <option value="Information Systems and Technology Department">
                  Information Systems and Technology Department
                </option>
                <option value="Internal Audit and Compliance Department">
                  Internal Audit and Compliance Department
                </option>
                <option value="International Relations Department">
                  International Relations Department
                </option>
                <option value="Investor Education Department">
                  Investor Education Department
                </option>
                <option value="Islamic Finance Department">
                  Islamic Finance Department
                </option>
                <option value="Legislative Review & Research Department">
                  Legislative Review & Research Department
                </option>
                <option
                  value="Market Development, Policy & Regulation Department (Insurance)"
                >
                  Market Development, Policy & Regulation Department (Insurance)
                </option>
                <option value="Market Supervision Department">
                  Market Supervision Department
                </option>
                <option value="Market Supervision Department KHI">
                  Market Supervision Department KHI
                </option>
                <option value="Media and Translation Department">
                  Media and Translation Department
                </option>
                <option value="PRDD-Modaraba">PRDD-Modaraba</option>
                <option
                  value="Policy Regulation and Development Department (SCD)"
                >
                  Policy Regulation and Development Department (SCD)
                </option>
                <option
                  value="Policy Regulation and Development Department (SCD.)"
                >
                  Policy Regulation and Development Department (SCD.)
                </option>
                <option
                  value="Policy, Regulation and Development Department (SMD)"
                >
                  Policy, Regulation and Development Department (SMD)
                </option>
                <option
                  value="Policy, Regulation and Development Department SCD"
                >
                  Policy, Regulation and Development Department SCD
                </option>
                <option
                  value="Policy, Regulation and Development Department SMD"
                >
                  Policy, Regulation and Development Department SMD
                </option>
                <option
                  value="Primary Market Approvals and Development Department (SMD)"
                >
                  Primary Market Approvals and Development Department (SMD)
                </option>
                <option value="SMD">SMD</option>
                <option value="Specialized Companies Division">
                  Specialized Companies Division
                </option>
                <option value="Supervision & Enforcement Department">
                  Supervision & Enforcement Department
                </option>
                <option value="Supervision Department (Insurance)">
                  Supervision Department (Insurance)
                </option>
              </select>
            </div>
            <div class="col">
              <select
                class="custom-select"
                formControlName="userLocation"
                required
              >
                <option
                  selected
                  disabled
                  value="null"
                  style="font-weight: bold"
                >
                  Select Location
                </option>
                <option value="CRO Faisalabad">CRO Faisalabad</option>
                <option value="CRO Gilgit Baltistan">
                  CRO Gilgit Baltistan
                </option>
                <option value="CRO Islamabad">CRO Islamabad</option>
                <option value="CRO Karachi">CRO Karachi</option>
                <option value="CRO Lahore">CRO Lahore</option>
                <option value="CRO Multan">CRO Multan</option>
                <option value="CRO Peshawar">CRO Peshawar</option>
                <option value="CRO Quetta">CRO Quetta</option>
                <option value="CRO Sukkur">CRO Sukkur</option>
                <option value="Facilitation Desk Sialkot">
                  Facilitation Desk Sialkot
                </option>
                <option value="Head Office">Head Office</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        <p
          *ngIf="isSuccess && isResponseRetrieved"
          style="text-align: center; color: green"
        >
          Data Submitted Successfully.
        </p>
        <p
          *ngIf="!isSuccess && isResponseRetrieved"
          style="text-align: center; color: red"
        >
          Submission failed. Try again later.
        </p>
        <p *ngIf="isError" style="text-align: center; color: red">
          All fields are required.
        </p>
      </form>
    </div>
  </div>
</div>
