<div class="container">
  <div class="ribbon">
    <div class="ribbon-content"><p>Check Company User</p></div>
  </div>
  <div class="jumbotron-fluid" style = "text-align: center;">
    <br><br><br><br>
      <h5>Provide User's CNIC and Click on Delete To Delete User or User Detail To Get User Information</h5>
      <br><br>
      <p>Enter user's CNIC/NICOP/POC/Passport number below:</p>
      <br>
      <div class="input-group" style = "width: 50%; margin: auto;">
        <div class="input-group-addon" style = "font-size: 1.3rem; color: white;">
          &nbsp; <i class="bi bi-person-badge"></i> &nbsp;
        </div>
        <input type="text" class="form-control" placeholder="Enter number without dashes" required>
      </div>
      <br><br><br>
        <div>
          <button class = "btn btn-outline-danger" type="button" name="button">Delete User</button> &nbsp;
          <button class = "btn btn-outline-success" type="button" name="button">Get User Detail</button>
        </div>
  </div>
</div>
